/*Header*/
:root {
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Oswald', sans-serif;

}

.header1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

a {
    color: #000;
    text-decoration: none;
}

.img {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-bottom: 5%;
}

.imgcolor {
    background-color: #ffc0cb;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*fim da header*/

/*Inicio da primeira parte*/
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partedirection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: end;
    align-items: center;
}

.partep {
    
}

.partep1{

}